@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff7433;
  --color-primary-hover: #e6682e;
  --color-background: #f5f3ef;
  --color-surface: #ffffff;
  --color-text-main: #000000;
  --color-text-muted: #4a4a4a;
  --color-border: #e5e7eb;

  --background: var(--color-background);
  --foreground: var(--color-text-main);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
